.banner {
    width: 100%;
    margin-top: -40px;
    height: 400px;
}

.homeContainer {
    position: relative;
}

.containerVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 36px auto;
    width: 95%;
}

.aboutVideo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textTitleVideo {
    color: #F2BB16;
    margin-bottom: 18px;
}

.aboutVideo h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 24px;
}

.descriptionVIdeo {
    line-height: 22px;
    width: 500px;
}

.cardVideo figure {
    position: relative;
    display: inline-block;
    margin: 0;
}

.cardVideo img {
    display: block;
    width: 300px;
    height: 370px;
    margin-right: 100px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.404);
}

#videoLink {
    position: absolute;
    top: 50%;
    left: 36%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.bx-play-circle {
    font-size: 100px;
    color: #F2BB16;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 50;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 60%;
}

.close {
    color: white;
    position: absolute;
    top: 15px;
    right: 5px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.aboutVideo {
    display: flex;
}

.aboutVideo ul {
    margin-top: 24px;
    display: flex;
    justify-content: left;
    gap: 24px;
    width: 500px;
    flex-wrap: wrap;
}

.aboutVideo li {
    font-weight: 500;
}

.bx-check {
    color: #F2BB16;
    padding-right: 8px;
}